@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 150, 185, 253;
  --secondary: 123, 164, 252;
  --tertiary: 80, 129, 251;
  --darkBlue: 5, 29, 59;
  --shadow: 0px 16px rgba(0, 0, 0, 0.24);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
  }
}
